#container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;    
    gap:0;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
}

.left {
    width: 30%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left h1 {
    margin: 0;
    padding: 0;
    color:white;
    text-align: center;
    font-size: 100px;
    text-shadow: -1px 0 #5c1212, 0 1px #5c1212, 1px 0 #5c1212, 0 -1px #5c1212;
}

.left h1:hover {
    width: 100%;
    left: 0px;
    transition:0.2s;
    text-shadow: none;
    text-shadow: 0 0 5px #5c1212;
  }

.right {
    width: 50%;
}

.bottom {
    width: 100%;
}

.adres {
    margin-top: 50px;
}

::placeholder {
    color:black;
}

input, textarea {
    background-color: inherit;
    border:none;
    outline: none;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5c1212;
}


textarea {
    resize: none;
    padding-bottom:10px;
    height: 50px;
    border-bottom: 1px solid #5c1212;
}

.center {
    width: 180px;
    height: 60px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .wyslij {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #5c1212;
    outline: none;
    transition: 1s ease-in-out;
    background-color: #fa676718;

  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgb(252, 189, 189);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;    
    transition: 1s ease-in-out;
  }

  .wyslij:hover {
    transition: 1s ease-in-out;
}
  
  .wyslij:hover svg {
    stroke-dashoffset: -480;
  }

  .wyslij span {
      color: #5c1212;
    font-size: 22px;
    font-weight: 100;
    font-family: inherit;
  }
  

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.bottom iframe {
    z-index: 0;
    width: 100%;
    height: 800px;
}

@media  screen and (max-width:1200px) {
    .container {
        height: 100%;
    }

    .top {
        display: flex;
        flex-direction: column;
        height: 70%;
    }

    .left {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .left h1 {
        padding-top: 20px;
        font-size: 80px;
    }

    .right {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .bottom iframe {
        height: 600px;
    }
}

@media screen and (max-width: 600px) { 
    .left h1 {
        font-size: 50px;
    }

    .bottom iframe {
        height: 450px;
    }

    svg {
        height: 40px;
        width: 120px;
    }


    .center {
        width: 120px;
        height: 40px;  
      }

      .wyslij {
        width: 120px;
        height: 40px;
      }
}
