@font-face {
    font-family: mohave;
    src: url(SignikaNegative-Light.ttf);
  }

  @font-face {
    font-family: mali;
    src: url(Mali-Regular.ttf);
  }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: mohave;
    background-color: rgb(231, 231, 231);

}


.header {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: #fff;
}

.header a {
    text-decoration: none;
    color:black;
}


.tytul {
    margin: 0;
    padding: 0;
    font-family: mali;
    margin-bottom: 10px;
}

.header a:hover {
    color:red;
}

.podtytul {
    color: black;
    margin: 0;
    padding: 0;
    font-family: mali;
}

nav {
    border-top: 1px solid rgb(216, 216, 216);
    margin-top: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    padding-left: 0;
}

li {
    position: relative;
}

#container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    display: flex;
    gap: 5%;
}

.post {
    width: 65%;
    background-color: #fff;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.post h2 {
    margin: 0;
    padding-left: 5%;
}

.post .kat {
    color:rgb(250, 103, 103);
    text-decoration: none;
    padding-left: 5%;
}

.post a:hover {
    text-decoration: underline;
}

.post h2 a {
    color:black;
    text-decoration: none;
}

.post p{
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
    text-align: justify;
}

.post p img { 
    width: 350px;
    float: left;
    margin-right: 4%;
    margin-bottom: 15px;
}

.kategorie {
    width: 30%;
    /* padding-top: 30px; */
}

.kategoria {
    width: 100%;
    background-color: white;
    padding-bottom: 10px;
    margin-bottom: 30px;
    
}

.kategoria h3 {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    padding-top: 5%;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 2%;

}

.kategoria ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    font-size: 16px;
    gap:10px;
}

.kategoria ul li {
    width: 90%;
    margin-right: 10%;
}

.kategoria ul li a {
    color:black;
    text-decoration: none;
}

.newsy {
    width: 100%;
    background-color: white;
    padding-bottom: 15px;
}

.newsy h3 {
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.newsy ul {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    gap:10px;
    font-size: 16px;
    padding-right: 5%;
}

.newsy ul li a {
    color:black;
    text-decoration: none;
}

.kategorie ul li:after {
    position: absolute;
    left: 0;
    content: '';
    height: 1px;
    background: rgb(250, 103, 103);
    transition: all 0.5s linear;
    width: 0;
    bottom: -3px;
  }
.kategorie ul li:hover:after {
    width: 100%;
    left: 0px;
  }

.kategorie ul li a:hover, .kategoria ul li a:hover {
    color:rgb(250, 103, 103);
}

.footerp {
    color:rgb(195, 192, 192);
    font-size: 12px;
    padding-right: 5%;
    padding-left: 5%;
}

.footerp a {
    color:rgb(195, 192, 192);
    text-decoration: none;
}

.footerp a:hover {
    color:rgb(250, 103, 103);
}



  .komentarze{
    list-style: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.komentarz {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

.komentarz.user-kom {
    color: #808080;
}

.komentarz.author-kom
 {
    color:  #60686d;
 }

 .komentarz .info {
     display: flex;
     width: 50%;
     gap:2%;
 }

 .time {
     display: flex;
     flex-direction:column;
     order:2;
 }

.komentarz.user-kom .info, .komentarz.author-kom .info {
    margin-top: 15px;
    text-align: right;
    margin-right: 10px;
}


.komentarz .info a {
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.komentarz .info span {
    font-size: 11px;
    color:  #9ca7af;
}

.komentarz .avatar img {
    height: 60px;
}

.komentarz.user-kom .avatar {
    padding: 10px 18px 0 3px;
}

.komentarz.author-kom .avatar {
    padding: 10px 18px 0 3px;
}

.komentarz.user-kom .avatar img {
    float:right;
}

.komentarz p{
    line-height: 1.5;
    padding: 18px 22px;
    word-wrap:break-word;
    overflow-x: hidden;
}

.komentarz.user-kom p{
    background-color:  #f3f3f3;
}

.komentarz.author-kom p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-kom p:after{
    content: '';
    position: absolute;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background-color: white;
    left:5%;
    top: -10px;
}

.author-kom p:after{
    content: '';
    position: absolute;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    background-color: white;
    left:5%;
    top: -10px;
}


.write-new {
    display: flex;
    margin-left: 0;
    flex-direction: column;
align-items: center;
width: 80%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width:100%;
    margin-left: 0;
    min-height: 80px;
    resize: none;
    /* padding: 15px 20px; */
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}

@media screen and (max-width: 1300px) { 
    #container {
        display: flex;
        flex-direction: column;
    }

    .post {
        width: 100%;
    }

    .kategorie {
        width: 100%;
        background-color: #fff;
        display: flex;
        margin-bottom: 0;
        padding-top: 2%;
    }

    .kategoria {
        margin-left: 5%;
        width: 30%;
    }

    .newsy {
        margin-bottom: 0;
    }

    .newsy h3 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .kategoria h3 {
        padding-top: 0;
        padding-bottom: 0;

    }
}

@media screen and (max-width: 800px) { 
    .post p img {
        width: 100%;
    }
    #container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px) { 
    .kategorie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kategoria, .newsy {
        width: 90%;
    }

    .avatar img{
        display: none;
    }
}

